<div class="flex space-x-6 items-center ">
    <div class="flex-none rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Smallest goal diferrence</div>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                <%= link_to "Soccer result", soccer_result_path, target: '_blank' %>
            </span>
        </div>
    </div>

    <div class="flex-none rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Smallest weather spread</div>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                <%= link_to "Weather result", weather_result_path, target: '_blank' %>
            </span>
        </div>
    </div>
</div>